  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }

  main {
      flex: 1 0 auto;
  }

  nav {
      height: 100px;
      line-height: 100px;
      padding-left: 10%;
      padding-right: 10%;
  }
