{% extends "base.html" %}
{% block content %}

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('admin_login') }}">
        <div class="card-panel">
            <div class="container">
                <h5 class="center-align"><i class="fas fa-key grey-text text-lighten-1"></i> Admin Login</h5>
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-cog prefix grey-text text-lighten-1"></i>
                        <input id="username" name="username" type="text" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix grey-text text-lighten-1"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row center">
                    <button type="submit" class="btn-large orange darken-2 text-shadow"><i
                            class="fas fa-sign-in-alt"></i>
                        Log In
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}