{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="card-panel grey lighten-5">
        <!-- Header-->
        <div class="row">
            <div class="col s2">
                <a href="{{ url_for('get_recipes')}}" class="btn-flat admin-panel-btn  hvr-reveal"><i
                        class="fas fa-chevron-left grey-text text-lighten-2"></i>
                    Back to Home</a>
            </div>
            <div class="col s8 center">
                <h5 class="center-align"><i class="fas fa-edit grey-text text-lighten-1"></i> Edit Recipe</h5>

            </div>
        </div>

        <!-- Form-->
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">

            <!-- Recipe Name & Prep Time Select -->
            <div class="row">
                <!-- Recipe Name -->
                <div class="input-field col s12 l8">
                    <i class="fas fa-utensils prefix orange-text text-darken-2"></i>
                    <input id="recipe_name" value="{{ recipe.recipe_name }}" name="recipe_name" minlength="5"
                        maxlength="24" type="text" class="validate" placeholder="Recipe name" required>
                    <label for="recipe_name">Recipe Name</label>
                    <span class="helper-text" data-error="Must be between 5 and 24 characters" data-success=""></span>
                </div>
                <!-- Prep Time Select -->
                <div class="input-field col s12 l4">
                    <i class="fas fa-stopwatch prefix orange-text text-darken-2"></i>
                    <select value="{{ recipe.prep_time }}" id="prep_time" name="prep_time" class="validate" required>
                        <option value="" disabled selected>Choose option..</option>
                        {% for prep_time in prep_times %}
                        {% if recipe.prep_time == recipe.prep_time %}
                        <option value="{{ recipe.prep_time }}" selected>{{ recipe.prep_time }}</option>
                        {% else %}
                        <option value="{{ recipe.prep_time }}">{{ recipe.prep_time }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="prep_time">Prep Time</label>
                    <span class="helper-text" data-error="Please select an option" data-success=""></span>
                </div>
            </div>

            <!-- Category Name Select -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix orange-text text-darken-2"></i>
                    <select value="" id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose option..</option>
                        {% for category in categories %}
                        {% if category.category_name == recipe.category_name %}
                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="category_name">Category</label>
                    <span class="helper-text" data-error="Please select an option" data-success=""></span>
                </div>
            </div>

            <!-- Ingredients Textarea -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pepper-hot prefix orange-text text-darken-2"></i>
                    <textarea id="ingredients" name="ingredients" placeholder="Type each ingredient on a new line"
                        minlength="25" maxlength="700" type="text" class="materialize-textarea validate"
                        required>{{ recipe.ingredients }}</textarea>
                    <label for="ingredients">Ingredients</label>
                    <span class="helper-text" data-error="Must be between 25 and 700 characters" data-success=""></span>
                </div>
            </div>

            <!-- Recipe Instructions Textarea -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-clipboard-list prefix orange-text text-darken-2"></i>
                    <textarea id="recipe_instructions" name="recipe_instructions"
                        placeholder="Type each step on a new line" minlength="25" maxlength="2000" type="text"
                        class="materialize-textarea validate" required>{{ recipe.recipe_instructions }}</textarea>
                    <label for="recipe_instructions">Recipe Instructions</label>
                    <span class="helper-text" data-error="Must be between 25 and 2000 characters"
                        data-success=""></span>
                </div>
            </div>

            <!-- Image URL Text Input -->
            <div class="row">
                <div class="input-field col s11">
                    <i class="fas fa-image prefix orange-text text-darken-2"></i>
                    <input value="{{ recipe.img_url }}" id="img_url" name="img_url" minlength="5" maxlength="200"
                        type="text" class="validate" placeholder="https://example.com/image_name.png" required>
                    <label for="img_url">Image URL</label>
                    <span class="helper-text" data-error="Please enter a valid URL" data-success=""></span>
                </div>
                <div class="input-field col s1">
                    <a class="btn-floating btn waves-effect waves-light orange lighten-1 modal-trigger"
                        href="#img-url-info"><i class="fas fa-question"></i></a>
                </div>
            </div>

            <div class="row center">
                <button type="submit" class="btn-large orange darken-2 text-shadow">
                    <i class="fas fa-plus-square "></i> Edit Recipe
                </button>
            </div>
    </div>
    </form>
</div>
</div>

<!-- Image URL information modal -->
<div id="img-url-info" class="modal">
    <div class="modal-content center">
        <p>Images must be uploaded to a hosting platform. We recommend <b><a href="https://postimages.org/"
                    target="_blank">
                    Postimages</a></b>.<br> Upload your image, and copy the Direct Link.
        </p>
        <p>It is recommended to crop
            images to 4:3 ratio. This can be done easily using <b><a href="https://croppola.com/"
                    target="_blank">Croppola</a></b>.</p>
    </div>
    <div class="modal-footer">
        <div class="row center">
            <a href="#!" class="modal-close btn red lighten-3 text-shadow">Close</a>
        </div>
    </div>
</div>

{% endblock %}