{% extends "base.html" %}
{% block content %}
{% if session.user|lower == "admin1"|lower %}
<div class="container center-align">
    <div class="row">
        <div class="col s12">
            <div class="card grey lighten-5">
                <div class="card-content grey-text text-darken-4">
                    <span class="card-title"><i class="fas fa-pen-square"></i> Admin Panel</span>
                </div>
                <div class="card-action center">
                    <div class="row">
                        <div class="col s12 m4">
                            <a href="{{ url_for('add_recipe') }}"
                                class="btn orange accent-3 admin-panel-btn hvr-reveal"> <i
                                    class="fas fa-plus-square"></i> Add New
                                Recipe</a>
                        </div>
                        <div class="col s12 m4">
                            <a href="#" class="btn orange darken-2 admin-panel-btn  hvr-reveal"><i
                                    class="fas fa-folder"></i>
                                Manage Categories</a>
                        </div>
                        <div class="col s12 m4">
                            <a href="{{ url_for('logout') }}"
                                class="btn admin-panel-btn red red lighten-2 hvr-reveal"><i
                                    class="fas fa-sign-out-alt"></i> Logout as
                                Admin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% for recipe in recipes %}
<div class="container">
    <div class="card "><img src="{{ recipe.img_url }}" height=150>

        <strong>{{ recipe.recipe_name }}</strong>
        <p><em>Prep time: {{ recipe.prep_time }}</em></p>
        <p>Ingredients: {{ recipe.ingredients }}</p>

        <p>recipe_desc: {{ recipe.recipe_desc }}</p>
        <p>added by: {{ recipe.added_by }}</p>
        <p>added on: {{ recipe.added_on }}</p>

        {% if session.user|lower == "admin1"|lower %}
        <div class="row">
            <div class="col s12 m3 right">
                <a href="{{ url_for('delete_recipe') }}" class="btn edit-delete-btn red lighten-2 hvr-reveal"> <i
                        class="fas fa-trash-alt"></i> Delete</a>
            </div>
            <div class="col s12 m3 right">
                <a href="{{ url_for('add_recipe') }}" class="btn edit-delete-btn indigo lighten-2"> <i
                        class="fas fa-edit"></i>
                    Edit</a></div>

        </div>
        {% endif %}

    </div>
</div>
{% endfor %}
{% endblock %}