{% extends "base.html" %}
{% block content %}
{% if session.user|lower == "admin1"|lower %}

<div class="row center">
    <div class="col s12 white">Header text</div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12 m4">
                    <a href="{{ url_for('add_recipe') }}" class="btn orange accent-3 admin-panel-btn hvr-reveal"> <i
                            class="fas fa-plus-square"></i> Add New
                        Recipe</a>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('show_categories') }}"
                        class="btn orange darken-2 admin-panel-btn  hvr-reveal"><i class="fas fa-folder"></i>
                        Manage Categories</a>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('logout') }}" class="btn admin-panel-btn red lighten-2 hvr-reveal"><i
                            class="fas fa-sign-out-alt"></i> Logout as
                        {{ session.user }} </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
        {% for recipe in recipes %}
        <div class="card recipe-card col s12 left ">
            <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}" class="grey-text text-darken-3">
                <img src="{{ recipe.img_url }}">
                <h4>{{ recipe.recipe_name }}</h4>
                <p><i class="fas fa-clock"></i> {{ recipe.prep_time }}</p>
                <p>Ingredients: {{ recipe.ingredients }}</p>

                <p>{{ recipe.recipe_desc }}</p>
                <p>added by: {{ recipe.added_by }}</p>
                <p>added on: {{ recipe.added_on }}</p>

                {% if session.user|lower == "admin1"|lower %}

                <!-- Delete confirmation modal -->
                <div id="{{ recipe._id }}" class="modal">
                    <div class="container">
                        <div class="modal-content">
                            <h5 class="center-align"><i class="fas fa-trash-alt grey-text text-lighten-1"></i> Delete
                                "{{ recipe.recipe_name }}" ?</h5><br>
                            <p class="center">This action cannot be reversed.</p>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col s12">
                                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id, recipe_name=recipe.recipe_name) }}"
                                        data-target="{{ recipe._id }}"
                                        class="btn-small edit-delete-btn red lighten-2 hvr-reveal"><i
                                            class="fas fa-trash-alt"></i> Delete</a>
                                    <a href="#!" class="btn-small edit-delete-btn grey hvr-reveal modal-close"><i
                                            class="fas fa-times"></i> Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6 right">
                        <button data-target="{{ recipe._id }}"
                            class="btn-small edit-delete-btn red lighten-2 hvr-reveal btn modal-trigger"
                            alt="Delete this recipe"><i class="fas fa-trash-alt"></i> <span
                                class="hide-on-small-only">Delete</span> </button>
                    </div>

                    <div class="col s6 right">
                        <a href="{{ url_for('add_recipe') }}"
                            class="btn-small edit-delete-btn indigo lighten-2 hvr-reveal" alt="Edit this recipe">
                            <i class="fas fa-edit"></i>
                            <span class="hide-on-small-only">Edit</span></a></div>
                </div>
                {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}