{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="card-panel">
        <div class="row">
            <div class="col s2">
                <a href="{{ url_for('get_recipes')}}" class="btn-flat admin-panel-btn  hvr-reveal"><i
                        class="fas fa-chevron-left grey-text text-lighten-2"></i>
                    Back to Home</a>
            </div>
            <div class="col s8 center">
                <h5 class="center-align"><i class="fas fa-key grey-text text-lighten-1"></i> Manage Categories</h5>

            </div>
        </div>
        <form method="POST" action="{{ url_for('add_category') }}">
            <div class="row valign-wrapper">
                <div class="col s10 white"><label for="category_name">Add New Category</label>
                    <input id="category_name" name="category_name" minlength="5" maxlength="20" type="text"
                        class="validate" placeholder="Category Name" required>
                </div>
                <div class="col s2 white">
                    <button data-target="#" class="btn-small red lighten-2 hvr-reveal admin-panel-btn orange darken-2"
                        alt="Rename this category"><i class="fas fa-plus-square"></i> Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row">
    {% for category in categories %}

    <div class="container">

        <div class="col s12 m6 center">
            <div class="card">
                <div class="card-content grey-text darken-4">
                    <span class="card-title">{{ category.category_name }}</span>
                </div>
                <div class="card-action s12">
                    <button data-target="#"
                        class="m12 btn-small red lighten-2 hvr-reveal btn modal-trigger indigo lighten-2"
                        alt="Rename this category"><i class="fas fa-edit"></i>Rename
                    </button>
                    <button data-target="{{ category._id }}"
                        class="btn-small red lighten-2 hvr-reveal btn modal-trigger" alt="Delete this category"><i
                            class="fas fa-trash-alt"></i> Delete </button>
                </div>

            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div id="{{ category._id }}" class="modal">
        <div class="container">
            <div class="modal-content">
                <h5 class="center-align"><i class="fas fa-trash-alt grey-text text-lighten-1"></i> Delete
                    "{{ category.category_name }}" ?</h5><br>
                <p class="center">This action cannot be reversed.</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col s12">
                        <a href="{{ url_for('delete_category', category_id=category._id, category_name=category.category_name) }}"
                            data-target="{{ category._id }}"
                            class="btn-small edit-delete-btn red lighten-2 hvr-reveal"><i class="fas fa-trash-alt"></i>
                            Delete</a>
                        <a href="#!" class="btn-small edit-delete-btn grey hvr-reveal modal-close"><i
                                class="fas fa-times"></i> Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}